<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Txt-Img Gen</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('about') }}">About the website</a>
              </li>                            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Connect with us
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/swastik-bainsla-299744255/" target="_blank">LinkedIn</a></li>
                  <li><a class="dropdown-item" href="https://github.com/swastikbainsla20" target="_blank">GitHub</a></li>
                  <li><a class="dropdown-item" href="https://www.instagram.com/swastik_bainsla/profilecard/?igsh=emR3eTBoMjl5aTZo" target="_blank">Instagram</a></li>
                </ul>                
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        
      <form>
        <div class="mb-3">
            <div class="text-center">
                <h1>Welcome to Txt-Img Gen</h1>
                <h2>Generate images from text</h2>
              </div>              
          <label for="exampleInputEmail1" class="form-label">Enter your prompt.</label>
          <input type="text" class="form-control" id="prompt" aria-describedby="emailHelp">
          <div id="prompt" class="form-text">This website uses OpenAI API key to generate the images.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>